@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-light: #f0ebd8;
  --color-lightblue: #748cab;
  --color-middlestblue: #3e5c76;
  --color-darkblue: #1d2d44;
  --color-darkestblue: #0d1321;
}

::selection {
  @apply bg-light text-darkestblue;
}
