@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* .font-space-mono {
  font-family: var(--font-mono);
} */