---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
</Layout>
<!doctype html>
<html lang="en">
    <body>
        <p class="font-bold text-center text-3xl mt-16">Coming Soon!</p>
    </body>
</html>
