---
import { AspectRatio } from "@/components/ui/aspect-ratio"
import Layout from '../layouts/Layout.astro'
---

<!doctype html>
<html lang="en">
    <body>
    <Layout>
        <AspectRatio ratio={3 / 4} className="bg-[#1b263b] text-white rounded-lg max-w-[calc(30%)] max-h-[calc(10%)]">
		    <p class="justify-center text-left">
		    I'm a highschooler passionate about hardware, robotics, and 
			related software. 
		    </p>
	    </AspectRatio>
    </Layout>
    </body>
</html>