---
import { AspectRatio } from "@/components/ui/aspect-ratio";
import Layout from "../layouts/Layout.astro";
---

<Layout />

<div class="p-2"/>
<AspectRatio client:load className="mx-auto bg-darkblue justify-center items-center text-light rounded-lg max-w-[60%] max-h-[20%]">
	<div class="flex flex-col h-full items-center justify-center">
	<div class="flex justify-center">
		<div class="text-center">
			<p>Hello, welcome to my corner of the internet!</p> <!--:D -->
		</div>
	</div>
	<div class="flex justify-center mr-[10%] ml-[10%]">
		<div class="text-center">
			I'm a 16 year old who loves building and breaking things. Among
			other things, find me working on PCBs and hardware related
			software. I also enjoy listening to and making my own music.
		</div>
	</div>
	<div class="flex justify-center">
		<p class="justify-center text-center">
			Check out some of my <a href="/Projects#" class="underline decoration-middlestblue decoration-2 font-bold">projects</a>!
		</p>
	</div>
	</div>
</AspectRatio>
