---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import crater0 from "../assets/crater0.png"
---

<Layout>
</Layout>
<!doctype html>
<html lang="en">
    <body>
        <div class="p-4"></div>
        <!-- <div class="flex"> -->
         
        <Image src={ crater0 } alt="schematic crater" class="rounded-lg ml-8" width={400}/>
        <p class="pl-4 ml-8 font-mono text-2xl">A Guitar Pedal: Crater</p>
        <!-- </div> -->
        <div class="p-4"></div>
    </body>
</html>