---
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
	<body>
		<div class="bg-[#0d1b2a] min-h-screen flex text-white font-space">
			<p>hi! i'm nandini.</p>
		</div>
	</body>
</html>