---
import '@/styles/global.css'
import { Separator } from '@/components/ui/separator'
---

<!doctype html>
<html lang="en">
	<body class="bg-[#0d1b2a] max-h-screen text-white font-mono">
		<div class="flex md:mt-20 mt-5 text-5xl text-center justify-center mb-10">
			<p>hi! i'm nandini.</p>
		</div>
		<Separator className="my-4 max-w-[50%] mx-auto bg-white shrink-0" />
		<div class="flex items-center w-screen space-x-4 justify-center">
			<a href = "/Home#">Home</a>
			<Separator orientation='vertical'/>
			<a href = "/Projects#">Projects</a>
			<Separator orientation="vertical"/>
			<a href = "/Blog#">Blog</a>
			<Separator orientation="vertical"/>
			<a href = "/Contact#">Contact</a>
		</div>
	</body>
</html>